* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primario: #bcec4c;
    --secundario: #6cacdc;
    --links: #2c7c44;
    --bg-primario: #947c6c;
    --bg-secundario: #b49c94;
}

a {
    color: var(--links);
    text-decoration: none;
}

a:hover {
    color: black;
}

ul {
    list-style: none;
}

body {
    background-color: var(--bg-primario);
    font-family: 'Playpen Sans', cursive;
    margin: 0 auto;
    max-width: 1920px;
}

.nav {
    background-color: var(--primario);
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px
}

.logo {
    width: 40px;
}

.nav-top__links {
    display: flex;
    gap: 10px;
}

.nav-down {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primario);
    padding: 20px 0;
}

/* Media queries */
@media (max-width: 440px) {
    .nav-down {
        display: none;
    }
}