<header class="nav">
    <nav class="nav-top">
        <a href="/"><img class="logo" src="/img/logo.png" alt="logo-game-store"></a>
        <ul class="nav-top__links">
            <li><a href="/login">Ingresar</a></li>
            <li><a href="/register">Registrarse</a></li>
        </ul>
    </nav>
    <ul class="nav-down">
        <li><a href="">Nuevo</a></li>
        <li><a href="">Mas vendidos</a></li>
        <li><a href="">Ranking</a></li>
        <li><a href="">Consolas</a></li>
        <li><a href="">Free to play</a></li>
    </ul>
</header>