<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {myStyles: "detail", title: "Detalle de producto"}) %>

<body>
    <%- include('../partials/header.ejs') %>
    <main class="container">
        <img class="product-img" src="https://www.freetogame.com/g/540/thumbnail.jpg" alt="game-img">
        <div class="description">
            <h3><%= juego.nombre %></h3>
            <p>Price: $400</p>
            <button class="description__btn">Buy</button>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>