<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {myStyles: "create", title: "Nuevo juego"}) %>

<body>
    <%- include('../partials/header.ejs') %>
    <main class="container">

        <h1>Nuevo juegos</h1>
        <form action="/create" method="post">
            <label for="nombre">Ingresa el nombre del juego</label>
            <input type="password" name="nombre" id="nombre" placeholder="Overwatch">

            <label for="precio">Ingresa el precio del juego</label>
            <input type="number" name="precio" id="precio">

            <label for="lanzamiento">Ingresa la fecha del lanzamiento</label>
            <input type="date" name="lanzamiento" id="lanzamiento">

            <label for="comentarios">Ingresa comentarios</label>
            <textarea name="comentarios" id="comentarios"></textarea>

            <label for="genero">Ingresa un genero</label>
            <select name="genero" id="genero">
                <option value="Shooter">Shooter</option>
                <option value="Rpg">Rpg</option>
                <option value="Aventura" selected>Aventura</option>
            </select>

            <label for="plataformas">Plataformas</label>
            <label for="pc">PC<input type="checkbox" name="pc" id="pc"></label>
            <label for="xbox">XBOX<input type="checkbox" name="xbox" id="xbox"></label>

            <button type="reset">Borrar</button>
            <button type="submit">Enviar</button>
        </form>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>