<%- include('./partials/head.ejs') %>

    <body>
        <!-- Navbar (sit on top) -->
        <%- include('./partials/header.ejs') %>

        <form class="form-create" action="/crear-plato" method="POST" enctype="multipart/form-data">
            <h1>Crear plato</h1>

            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" id="titulo" placeholder="Ingresa tu titulo">
            
            <label for="descripcionCorta">Descripcion Corta</label>
            <input type="text" name="descripcionCorta" id="descripcionCorta" placeholder="Ingresa tu descripcionCorta">

            <label for="descripcionDetallada">Descripcion Detallada</label>
            <textarea name="descripcionDetallada" id="descripcionDetallada" cols="30" rows="10"></textarea>

            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio" placeholder="Ingresa el precio">

            <label for="img">Ingresa una imagen del producto</label>
            <input type="file" name="img" id="img">

            <button type="submit">Crear producto</button>
        </form>



        <!-- Footer -->
        <%- include('./partials/footer.ejs') %>

    </body>

    </html>