<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Store</title>
    <!-- Estilos -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap" rel="stylesheet">
    <!-- Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="nav">
        <nav class="nav-top">
            <a href="/"><img class="logo" src="/img/logo.png" alt="logo-game-store"></a>
            <ul class="nav-top__links">
                <li><a href="/login">Ingresar</a></li>
                <li><a href="/register">Registrarse</a></li>
            </ul>
        </nav>
        <ul class="nav-down">
            <li><a href="">Nuevo</a></li>
            <li><a href="">Mas vendidos</a></li>
            <li><a href="">Ranking</a></li>
            <li><a href="">Consolas</a></li>
            <li><a href="">Free to play</a></li>
        </ul>
    </header>
    <main>
        <section class="container">
            <article class="game">
                <h3 class="game__title"><a href="https://www.freetogame.com/open/overwatch-2">Overwatch 2</a></h3>
                <img class="game__img" src="https://www.freetogame.com/g/540/thumbnail.jpg" alt="juego">
            </article>
            <article class="game">
                <h3 class="game__title"><a href="https://www.freetogame.com/open/overwatch-2">Overwatch 2</a></h3>
                <img class="game__img" src="https://www.freetogame.com/g/540/thumbnail.jpg" alt="juego">
            </article>
            <article class="game">
                <h3 class="game__title"><a href="https://www.freetogame.com/open/overwatch-2">Overwatch 2</a></h3>
                <img class="game__img" src="https://www.freetogame.com/g/540/thumbnail.jpg" alt="juego">
            </article>
            <article class="game">
                <h3 class="game__title"><a href="https://www.freetogame.com/open/overwatch-2">Overwatch 2</a></h3>
                <img class="game__img" src="https://www.freetogame.com/g/540/thumbnail.jpg" alt="juego">
            </article>
            <article class="game">
                <h3 class="game__title"><a href="https://www.freetogame.com/open/overwatch-2">Overwatch 2</a></h3>
                <img class="game__img" src="https://www.freetogame.com/g/540/thumbnail.jpg" alt="juego">
            </article>
            <article class="game">
                <h3 class="game__title"><a href="https://www.freetogame.com/open/overwatch-2">Overwatch 2</a></h3>
                <img class="game__img" src="https://www.freetogame.com/g/540/thumbnail.jpg" alt="juego">
            </article>


        </section>
    </main>
    <footer class="footer">
        <div class="footer__title">Derechos de autor</div>
        <img class="logo" src="/img/logo.png" alt="logo">
    </footer>
</body>

</html>