<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
         <h1>Bievenidos al home</h1>
         <h3>Aquí req.session.visits valeee : <%= visits %></h3>
</body>
</html>